rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /folders/{folderId}/{fileName} {
      allow read: if request.auth != null;
      allow write, delete: if request.auth != null;
    }
  }
}
